@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;

    /* HEADER */
    header {
        width: 100%;
        height: 60vh;
        background-color: #665fee;
        background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
        clip-path: polygon(0 0, 100% 0%, 260% 35%, 0 88%);

        .header-text {
            padding: 20px;
            h2 {
                font-size: 1.5em;
                color: white;
                font-weight: lighter;
            }
            h3 {
                font-size: 1.3em;
                color: white;
                font-weight: bold;
            }
            p {
                font-family: 'Open Sans';
                font-size: 0.9em;
                color: white;
                font-weight: 400;
                padding-top: 10px;
                
            }
        }
        .header-nav {
            display: flex;
            margin-top: 10px;
            nav {
                margin: auto;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    justify-content: space-evenly;
                }

                li {
                    list-style: none;
                    padding: 6px 10px;
                    margin-bottom: 8px;
                    background: #fffffffa;
                    border: 1px solid #665fee;
                    box-shadow: 0px 6px 14px #630b915c;
                    border-radius: 8px;

                    &:nth-child(3n) {
                        padding: 6px 13px;
                    }
                    &:nth-child(4n) {
                        padding: 6px 28px;
                    }
                    a {
                        color: rgb(161, 161, 161);
                        text-decoration: none;
                        font-size: 0.8em;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    /* MAIN */
    main {
        height: 100%;
        margin-top: -50px;
        display: flex;
        flex-direction: column;

        .main-text {
            padding: 30px;

            h2 {
                font-size: 1.2em;
                color: grey;
                i {
                        color: #27c2de;
                        margin: 8px;
                }
            }
                p {
                    font-family: 'Open Sans';
                    font-size: 0.9em;
                    margin-top: 5px;
                    color: rgb(161, 161, 161);
                }
            }

        .main-form {
            display: flex;
            justify-content: center;
            margin: 20px 20px;

            form {
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 325px;
                padding: 10px;
                background-color: white;
                box-shadow: 0px 4px 16px 0px #00000029;

                h2 {
                    font-size: 1.1em;
                    color: grey;
                    text-align: center;
                    margin-bottom: 11px;                    
                }

                input {
                    font-family: 'Montserrat';
                    background-color: #ededed;
                    box-shadow: 0px 2px 10px 0px #00000029;
                    border: none;
                    padding: 6px;
                    border-radius: 2px;
                }

                select {
                    font-family: 'Montserrat';
                    background-color: #ededed;
                    box-shadow: 0px 2px 10px 0px #00000029;
                    border: none;
                    padding: 6px;
                    border-radius: 2px;
                }


                button {
                    border: none;
                    background-color: #1d82ff;
                    color: white;
                    font-family: 'Montserrat';
                    font-size: 0.9em;
                    border-radius: 20px;
                    box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
                    margin-top: 35px;
                    padding: 8px;
                    cursor: pointer;

                    &:hover {
                        background-color: #2833cefb;
                        box-shadow: 0px 3px 11px 0px #2833cefb;
                    }
                }
            }
        }
    }
}

    /* PRODUCT SECTION */
    #productSection {
        display: flex;
        height: 100vh;
        margin-top: 50px;
        padding: 30px;
        background-color: #ededed;
        clip-path: polygon(0 0, 100% 0%, 270% 40%, 0 95%);

        h2 {
            font-size: 1.1em;
            color: #525252;
        }
        i {
            color: #27c2de;
            margin: 4px 6px;
            font-size: 1em;
        }
    }

    /* SHARE SECTION */ 
    #shareSection {
        display: flex;
        flex-direction: column;
        height: 90vh;
        padding: 30px;
        background-color: white;

        .section-text {
            margin-top: -30px;

            h2 {
                display: flex;
                font-size: 1.1em;
                color: grey;
                i {
                    color: #27c2de;
                    margin: 4px 8px;
                }
        }
            p {
                font-family: 'Open Sans';
                font-size: 0.9em;
                margin-top: 5px;
                color: #a1a1a1;
        }
    }
        .section-form {
            display: flex;
            justify-content: center;
            margin-top: 60px;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 65vw;
                height: 50vh;
                padding: 30px;
                background-color: white;
                box-shadow: 0px 4px 16px 0px #00000029;

                h2 {
                    font-size: 1.1em;
                    color: grey;
                    text-align: center;
                    margin-top: -20px;
                    margin-bottom: 40px;
                }

                label {
                    font-size: 0.8em;
                    color: darkslategray;
                }

                input {
                    background-color: #ededed;
                    box-shadow: 0px 2px 10px 0px #00000029;
                    border: none;
                    padding: 6px;
                    border-radius: 2px;
                }

                button {
                    border: none;
                    background-color: #1d82ff;
                    color: white;
                    font-family: 'Montserrat';
                    font-size: 0.9em;
                    border-radius: 20px;
                    box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
                    margin-top: 20px;
                    margin-bottom: -20px;
                    padding: 8px;
                    cursor: pointer;

                    &:hover {
                        background-color: #2833cefb;
                        box-shadow: 0px 3px 11px 0px #2833cefb;
                    }
                }
            }
        }
}

    footer {
        padding-top: 65px;
        background-color: #ededed;
        clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);

        p {
            text-align: center;
            font-family: 'Open Sans';
            font-size: 0.7em;
            color: darkslategray;
        }
    }


/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 375px) {
    body {
        header {
            height: 75vh;
            clip-path: polygon(0 0, 100% 0%, 290% 35%, 0 88%);
        }
    }
}

@media (width: 375px) {
    body {
        header {
            height: 65vh;
            clip-path: polygon(0 0, 100% 0%, 290% 35%, 0 88%);
        }
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    body {
        header {
            height: 60vh;
            clip-path: polygon(0 0, 100% 0%, 290% 35%, 0 88%);
        }
    }
}

@media (min-width: 769px) {
    body {
        header {
            height: 40vh;

            .header-nav {
                nav {
                    li {
                        margin-right: 6px;
                    }
                }
            }
        }

        main {
            justify-content: space-between;
            flex-direction: row;
            margin: 20px 80px;

            .main-text {
                width: 45vw;
                word-break: break-word;
                
            }

            .main-form {
                width: 35vw;
            }
        }

        #productSection {
            padding: 30px 105px;
        }

        #shareSection {
            height: 60vh;
            margin: 20px 80px;

            .section-form {
                margin-top: 50px;

                form {
                    display: inline-flex;
                    text-align: start;
                    height: 45vh;
                    width: 40vw;

                    h2 {
                        text-align: center;
                    }

                    input {
                        height: 30px;
                    }

                    button {
                        width: 50%;
                        align-self: center;
                    }
                }
            }
        }
    }
}
