@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  /* HEADER */
  /* MAIN */
}

body header {
  width: 100%;
  height: 50vh;
  background-color: #665fee;
  background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 260% 35%, 0 88%);
          clip-path: polygon(0 0, 100% 0%, 260% 35%, 0 88%);
}

body header .header-text {
  padding: 20px;
}

body header .header-text h2 {
  font-size: 1.5em;
  color: white;
  font-weight: lighter;
}

body header .header-text h3 {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
}

body header .header-text p {
  font-family: "Open Sans";
  font-size: 0.9em;
  color: white;
  font-weight: 400;
  padding-top: 10px;
}

body header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

body header .header-nav nav {
  margin: auto;
}

body header .header-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body header .header-nav nav li {
  list-style: none;
  padding: 6px 10px;
  margin-bottom: 8px;
  background: #fffffffa;
  border: 1px solid #665fee;
  -webkit-box-shadow: 0px 6px 14px #630b915c;
          box-shadow: 0px 6px 14px #630b915c;
  border-radius: 8px;
}

body header .header-nav nav li:nth-child(3n) {
  padding: 6px 13px;
}

body header .header-nav nav li:nth-child(4n) {
  padding: 6px 28px;
}

body header .header-nav nav li a {
  color: #a1a1a1;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
}

body main {
  height: 100%;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .main-text {
  padding: 30px;
}

body main .main-text h2 {
  font-size: 1.2em;
  color: grey;
}

body main .main-text h2 i {
  color: #27c2de;
  margin: 8px;
}

body main .main-text p {
  font-family: "Open Sans";
  font-size: 0.9em;
  margin-top: 5px;
  color: #a1a1a1;
}

body main .main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 20px;
}

body main .main-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 325px;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 16px 0px #00000029;
          box-shadow: 0px 4px 16px 0px #00000029;
}

body main .main-form form h2 {
  font-size: 1.1em;
  color: grey;
  text-align: center;
  margin-bottom: 11px;
}

body main .main-form form input {
  font-family: "Montserrat";
  background-color: #ededed;
  -webkit-box-shadow: 0px 2px 10px 0px #00000029;
          box-shadow: 0px 2px 10px 0px #00000029;
  border: none;
  padding: 6px;
  border-radius: 2px;
}

body main .main-form form .inputError {
  border: 1px solid red;
  -webkit-box-shadow: 0px 2px 5px 0px #ff00004f;
          box-shadow: 0px 2px 5px 0px #ff00004f;
}

body main .main-form form select {
  font-family: "Montserrat";
  background-color: #ededed;
  -webkit-box-shadow: 0px 2px 10px 0px #00000029;
          box-shadow: 0px 2px 10px 0px #00000029;
  border: none;
  padding: 6px;
  border-radius: 2px;
}

body main .main-form form button {
  border: none;
  background-color: #1d82ff;
  color: white;
  font-family: "Montserrat";
  font-size: 0.9em;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
          box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
  margin-top: 40px;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body main .main-form form button:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: #1d82ffb5;
  -webkit-box-shadow: 0px 3px 11px 0px #1d82ffb5;
          box-shadow: 0px 3px 11px 0px #1d82ffb5;
}

/* PRODUCT SECTION */
#productSection {
  height: 2380px;
  margin-top: 50px;
  padding: 30px;
  background-color: white;
  -webkit-clip-path: polygon(0 0, 100% 0%, 270% 110%, 0 95%);
          clip-path: polygon(0 0, 100% 0%, 270% 110%, 0 95%);
}

#productSection h2 {
  font-size: 1.1em;
  color: #525252;
  margin-bottom: 20px;
}

#productSection i {
  color: #27c2de;
  margin: 4px 6px;
  font-size: 1em;
}

#productSection #productsContainer .productDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55vw;
  height: 250px;
  padding: 0px 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 4px 16px 0px #00000029;
          box-shadow: 0px 4px 16px 0px #00000029;
}

#productSection #productsContainer .productDiv .productImg {
  width: 100px;
}

#productSection #productsContainer .productDiv .productName {
  font-size: 1em;
}

#productSection #productsContainer .productDiv .productDescription {
  font-size: 0.8em;
  font-weight: lighter;
}

#productSection #productsContainer .productDiv .productPrice {
  font-size: 0.9em;
  height: 19px;
}

#productSection #productsContainer .productDiv .productPrice:last-of-type {
  margin-top: -20px;
}

#productSection #productsContainer .productDiv .buyButton {
  border: none;
  background-color: #1d82ff;
  color: white;
  font-family: "Montserrat";
  font-size: 0.8em;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
          box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
  margin-top: 5px;
  padding: 5px 35px;
  cursor: pointer;
}

#productSection #productsContainer .productDiv .installmentsDiv {
  text-align: center;
}

#productSection #productsContainer .productDiv .installmentButton {
  border: none;
  background: transparent;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -58px;
  margin-right: 45px;
  cursor: pointer;
}

#productSection #productsContainer .productDiv .installmentSpan {
  font-size: 0.9em;
  height: 19px;
}

#productSection .divNextPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

#productSection .divNextPage button {
  border: none;
  background-color: #1d82ffb5;
  color: white;
  font-family: "Montserrat";
  font-size: 0.8em;
  padding: 9px 27px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
          box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#productSection .divNextPage button:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: #1d82ff;
  -webkit-box-shadow: 0px 3px 11px 0px #1d82ffb5;
          box-shadow: 0px 3px 11px 0px #1d82ffb5;
}

/* SHARE SECTION */
#shareSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  padding: 30px;
  background-color: white;
}

#shareSection .section-text {
  margin-top: -30px;
}

#shareSection .section-text h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1em;
  color: grey;
}

#shareSection .section-text h2 i {
  color: #27c2de;
  margin: 4px 8px;
}

#shareSection .section-text p {
  font-family: "Open Sans";
  font-size: 0.9em;
  margin-top: 5px;
  color: #a1a1a1;
}

#shareSection .section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

#shareSection .section-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65vw;
  height: 50vh;
  padding: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 16px 0px #00000029;
          box-shadow: 0px 4px 16px 0px #00000029;
}

#shareSection .section-form form h2 {
  font-size: 1.1em;
  color: grey;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 40px;
}

#shareSection .section-form form label {
  font-size: 0.8em;
  color: darkslategray;
}

#shareSection .section-form form input {
  background-color: #ededed;
  -webkit-box-shadow: 0px 2px 10px 0px #00000029;
          box-shadow: 0px 2px 10px 0px #00000029;
  border: none;
  padding: 6px;
  border-radius: 2px;
}

#shareSection .section-form form .inputError {
  border: 1px solid red;
  -webkit-box-shadow: 0px 2px 5px 0px #ff00004f;
          box-shadow: 0px 2px 5px 0px #ff00004f;
}

#shareSection .section-form form button {
  border: none;
  background-color: #1d82ff;
  color: white;
  font-family: "Montserrat";
  font-size: 0.9em;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
          box-shadow: 0px 3px 11px 0px rgba(77, 137, 226, 0.753);
  margin-top: 20px;
  margin-bottom: -20px;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#shareSection .section-form form button:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: #1d82ffb5;
  -webkit-box-shadow: 0px 3px 11px 0px #1d82ffb5;
          box-shadow: 0px 3px 11px 0px #1d82ffb5;
}

footer {
  padding-top: 65px;
  background-color: #ededed;
  -webkit-clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 0%, 100% 100%, 0% 100%);
}

footer p {
  text-align: center;
  font-family: "Open Sans";
  font-size: 0.7em;
  color: darkslategray;
}

/* MEDIA QUERIES */
@media (min-width: 320px) and (max-width: 375px) {
  body header {
    height: 80vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 290% 35%, 0 88%);
            clip-path: polygon(0 0, 100% 0%, 290% 35%, 0 88%);
  }
  body #productSection #productsContainer .productDiv {
    height: 260px;
    width: 60vw;
  }
  body #productSection #productsContainer .productDiv .installmentButton {
    margin-right: 25px;
  }
}

@media (width: 375px) {
  body header {
    height: 60vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 290% 35%, 0 88%);
            clip-path: polygon(0 0, 100% 0%, 290% 35%, 0 88%);
  }
  body #productSection #productsContainer .productDiv .installmentButton {
    margin-right: 40px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  body header {
    height: 60vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 290% 35%, 0 88%);
            clip-path: polygon(0 0, 100% 0%, 290% 35%, 0 88%);
  }
  body #productSection #productsContainer .productDiv .productDescription {
    margin-bottom: 10px;
  }
  body #productSection #productsContainer .productDiv .installmentButton {
    margin-right: 135px;
  }
}

@media (min-width: 769px) {
  body header {
    height: 40vh;
  }
  body header .header-nav nav li {
    margin-right: 6px;
  }
  body main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 80px;
  }
  body main .main-text {
    width: 45vw;
    word-break: break-word;
  }
  body main .main-form {
    width: 35vw;
  }
  body #productSection {
    margin: 20px 60px;
    height: 850px;
  }
  body #productSection h2 {
    margin-bottom: 40px;
  }
  body #productSection #productsContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 200px 200px 200px;
        grid-template-columns: 200px 200px 200px 200px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body #productSection #productsContainer .productDiv {
    width: 260px;
  }
  body #productSection .divNextPage #buttonNextPage {
    margin-top: 15px;
    padding: 9px 72px;
    font-size: 0.9em;
  }
  body #shareSection {
    height: 60vh;
    margin: 20px 80px;
  }
  body #shareSection .section-form {
    margin-top: 50px;
  }
  body #shareSection .section-form form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: start;
    height: 45vh;
    width: 40vw;
  }
  body #shareSection .section-form form h2 {
    text-align: center;
  }
  body #shareSection .section-form form input {
    height: 30px;
  }
  body #shareSection .section-form form button {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=style.css.map */