@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

body header {
  width: 100%;
  height: 50vh;
  background-color: #665fee;
  background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 260% 35%, 0 88%);
          clip-path: polygon(0 0, 100% 0%, 260% 35%, 0 88%);
}

body header .header-text {
  padding: 20px;
}

body header .header-text h2 {
  font-size: 1.8em;
  color: white;
  font-weight: lighter;
}

body header .header-text h3 {
  font-size: 1.8em;
  color: white;
  font-weight: bold;
}

body header .header-text p {
  font-family: 'Open Sans';
  font-size: 1.1em;
  color: white;
  font-weight: 400;
  padding-top: 10px;
}

body header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

body header .header-nav nav {
  margin: auto;
}

body header .header-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body header .header-nav nav li {
  list-style: none;
  padding: 7px 20px;
  margin-bottom: 10px;
  background: #fffffffa;
  border: 1.5px solid #665fee;
  -webkit-box-shadow: 0px 3px 8px #00000029;
          box-shadow: 0px 3px 8px #00000029;
  border-radius: 8px;
}

body header .header-nav nav li:nth-child(3n) {
  padding-left: 28px;
}

body header .header-nav nav li:nth-child(4n) {
  padding: 7px 45px;
}

body header .header-nav nav li a {
  color: #a1a1a1;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .main-text {
  margin: 10px 20px;
}

body main .main-text h2 {
  font-size: 1.3em;
  color: grey;
}

body main .main-text h2 i {
  color: #27c2de;
  margin: 8px;
}

body main .main-text p {
  font-family: 'Open Sans';
  font-size: 0.9em;
  margin-top: 5px;
  color: #a1a1a1;
}

body .main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  margin: 20px 20px;
}

body .main-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 362px;
  height: 260px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 16px 0px #00000029;
          box-shadow: 0px 4px 16px 0px #00000029;
}

body .main-form form h2 {
  font-size: 1.3em;
  color: grey;
  text-align: center;
}

body .main-form form label {
  font-family: 'Open Sans';
}
/*# sourceMappingURL=style.css.map */